{block content}
	
	<div class="page-heading">	
		{include ../tabsReviews.latte active => 'reviews'}
	</div>

	<div class="row control-group">
		<h2>{_'Reviews'}</h2>
		<a class="btn btn-primary" n:href="update idPage => $idPage">{_'Add review'}</a>
		{control grid}
	</div>

{/block}