{block #content}
	
	<div class="page-heading">
		{include tabs.latte active => 'seo'}
	</div>
	
	{var t = $basePathModule . "AdminModule/templates/system/seoSettings.latte"}
  	{include $t id => $idPage}

{/block}