<ul class="nav nav-tabs" id="myTab">
  <li {if $active == "products"}class="active"{/if}><a class="ajax" n:href="Products:default idPage => $idPage">{_'Products'}</a></li>
  <li {if $active == "settings"}class="active"{/if}><a class="ajax settingsTab" n:href="Settings:default idPage => $idPage">{_'Settings'}</a></li>
  
  {var t = $basePathModule . "AdminModule/templates/system/boxes.latte"}
  {include $t id => $idPage}
</ul>